{% extends 'base.html' %}
{% block content  %}
  <div class="container py-5" style="height:1000;">
    <h1 class="text-center mb-4" style="color: #bf4aa8;">About Us</h1>
    <p>
      Welcome to our restaurant! We pride ourselves on offering delicious meals made from the freshest ingredients.
      Come dine with us!
    </p>
    <p>Our chefs are experts in creating mouth-watering dishes that will leave you wanting more.</p>
    <p>
      Come visit us and enjoy a wonderful meal with your loved ones!
    </p>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock content %}